{% extends 'layout.template.html'%}

{%block content%}

    <table>
        <thead>
            <tr>
                <th> Office Code </th>
                <th> employee Number </th>
                <th> first Name </th>
                <th> last Name</th>
            </tr>
        </thead>
            {%for r in cursor%}
            <tr>
                <td> {{r.officeCode}} </td>
                <td> {{r.employeeNumber}} </td>
                <td> {{r.firstName}} </td>
                <td> {{r.lastName}} </td>
            </tr>
            {%endfor%}
    </table>

{%endblock%}