{%extends 'layout.template.html' %}


{%block content %}

    <table>
     <thead>
        <tr>
            <th>office Code</th>
            <th>city</th>
            <th>phone</th>
            <th>address Line 1</th>
            <th>address Line 2</th>
            <th>state</th>
            <th>country</th>
            <th>postal code</th>
            <th>territory</th>
        </tr>
     </thead>
        {%for i in cursor_offices %}
        <tr>
            
            <td> {{i.officeCode}}</td>
            <td> {{i.city}}</td>
            <td> {{i.phone}}</td>
            <td> {{i.addressLine1}}</td>
            <td> {{i.addressLine2}}</td>
            <td> {{i.state}}</td>
            <td> {{i.country}}</td>
            <td> {{i.postalCode}}</td>
            <td> {{i.territory}}</td>
        </tr>
        {%endfor%}
    </table>


{%endblock%}